header{
    display: flex;
    justify-content: space-between;
    background-color: #000;
}

header h1{
    font-size: 24px;
    color: #fff;
    margin: 15px;
}

header a{
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
    display: inline-block;
    margin-top: 20px;
}

header form{
    display: none;
}

.col-eg-1 {width: 8.33%;}
.col-eg-2 {width: 16.66%;}
.col-eg-3 {width: 25%;}
.col-eg-4 {width: 33.33%;}
.col-eg-5 {width: 41.66%;}
.col-eg-6 {width: 50%;}
.col-eg-7 {width: 58.33%;}
.col-eg-8 {width: 66.66%;}
.col-eg-9 {width: 75%;}
.col-eg-10 {width: 83.33%;}
.col-eg-11 {width: 91.66%;}
.col-eg-12 {width: 100%;}